body{
    width: 1000px;
}

.companyPage {
    text-align: center;
}

.searchCompany {

    border-radius: 10px;
    margin-left: 355px;
    margin-bottom: 5px;

}

.companyPageContainer {
    padding: 20px;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.content {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    height: 200px;
    width: 200px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}