
.companyPage {
  text-align: center;
}

.searchCompany {

  border-radius: 10px;
  margin-left: 355px;
  margin-bottom: 5px;
  margin-top: 10px;

}

.companyPageContainer {
  padding: 20px;
  text-align:center;
}



.MoreButtonAtom {
position: absolute;
min-width: 160px;
padding: 12px 16px;
background-color: lightgray;
z-index: 1;
transition: transform 0.2s ease;
transform: translateY(-100%); 
opacity: 0;
visibility: hidden;
}

.MoreButtonAtom.open {
transform: translateY(0); 
opacity: 1;
visibility: visible;
}

.MoreButtonAtom.closed {
transform: translateY(-100%);
opacity: 0;
visibility: hidden;
}

ul {
list-style-type: none;
padding: 0;
}

li:hover {
background-color: rgb(231, 222, 222)
}

.toggleBtn {
background-color: lightgray;
color: white;
padding: 10px;
border: none;
cursor: pointer;
}

.content {
background-color: #f9f9f9;
padding: 20px;
border-radius: 8px;
width: 250px;
height: 250px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
color: black; 
}


  